[submodule "Elysian/vendor/spdlog"]
	path = Elysian/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Elysian/vendor/glfw"]
	path = Elysian/vendor/glfw
	url = https://github.com/glfw/glfw
